<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Ежедневник</a>
    </nav>
</header>
<main class="container">
    <form action="http://127.0.0.1:8080/registration" method="GET" novalidate>
        {{ form.csrf_token }}
        <p align="right">{{ form.submitR(type="submit", class="btn btn-link") }}</p>
    </form>
<h1>Авторизация</h1>
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% block content %}{% endblock %}
    <p>{{ form.submitL(type="submit", class="btn btn-primary") }}</p>
</form>
    </main>
</body>
</html>