<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>M A I N P A G E</title>
    <style type="text/css">
      table table-bordered{
            width: 100%; /* Ширина таблицы */
        }

   textarea.form-control{
            border: none; /* Убираем рамку */
            background: transparent; /* Прозрачный фон */
            margin: 3px; /* Отступы от линии */
            width: 150px; /* Ширина поля */
            padding: 0px 0 5px 5px; /* Поля в тексте */
            height: 115px; /* Высота */
            color: #fff;
         }
       input[type='text']{
            border: none;
            background: transparent;
        }
        btn btn-primary{
            align: right
        }






    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Ежедневник</a>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    <table align="center" class="table table-bordered">
        <form action="save_info" method="POST" class="form-inline my-2 my-lg-0">

            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Название месяца" aria-label="Search">-->
            <p>{{ form.submit_save(type="submit", class="btn btn-primary", align="right") }}</p>
            <tr>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
            </tr>
            <tr>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[0](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[1](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[2](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[3](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[4](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[5](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[6](class="form-control") }}
                </td>
            </tr>
            <tr>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
            </tr>
            </tr>
            <tr>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[7](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[8](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[9](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[10](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[11](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[12](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[13](class="form-control") }}
                </td>
            </tr>
            <tr>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
            </tr>
            </tr>
            <tr>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[14](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[15](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[16](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[17](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[18](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[19](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[20](class="form-control") }}
                </td>
            </tr>
            <tr>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
            </tr>
            <tr>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[21](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[22](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[23](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[24](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[25](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[26](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[27](class="form-control") }}
                </td>
            </tr>
            <tr>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
            </tr>
            <tr>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[28](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[29](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[30](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[31](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[32](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[33](class="form-control") }}
                </td>
                <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                    onclick="this.style.background='#32383e'">{{ form.list_days[34](class="form-control") }}
                </td>
            </tr>
        </form>
    </table>
</main>
</body>
</html>