<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>T E S T</title>
    <style type="text/css">
   TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 100%; /* Ширина таблицы */
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
   }
   TH, TD {
    border: 1px solid black; /* Параметры рамки */
    text-align: center; /* Выравнивание по центру */
    height: 50
    #padding: 0px; /* Поля вокруг текста */
   }
   textarea.text{
    border: none; /* Убираем рамку */
    background: transparent; /* Прозрачный фон */
    margin: 3px; /* Отступы от линии */
    width: 150px; /* Ширина поля */
    padding: 0px 0 5px 5px; /* Поля в тексте */
    height: 115px; /* Высота */
   }
   table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
text-align: left;
border-collapse: separate;
border-spacing: 5px;
background: #ECE9E0;
color: #656665;
border: 16px solid #ECE9E0;
border-radius: 20px;
}
th {
font-size: 18px;
padding: 10px;
}
td {
/*background: #F5D7BF;*/
padding: 10px;
}
input[type='text']{
    border: none;
    background: #ECE9E0;
    background: #ECE9E0;
}




    </style>
</head>
<header>
    <p align="center">
    <div class="container">

        <table border="0">
            <caption><input placeholder="название месяца" type="text"></caption>
            <tr>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><<input placeholder="название дня" type="text"></th>
            </tr>
            <tr>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
            </tr>
            <tr>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
            </tr>
            <tr>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
            </tr>
            <tr>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
            </tr>
            <tr>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
            <tr>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
                <th><input placeholder="название дня" type="text"></th>
            </tr>
            <tr>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
                <td align=center bgcolor=#ECE9E0 ondblclick="this.style.background='#F5D7BF'" onclick="this.style.background='#ECE9E0'"><textarea type="text" class="text" name=""/></textarea></td>
            </tr>

        </table>
        </body>
    </div>
    </p>
</header>
</html>