<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>M A I N P A G E</title>
    <style type="text/css">
      table table-bordered{
            width: 100%; /* Ширина таблицы */
        }

   textarea.text{
            border: none; /* Убираем рамку */
            background: transparent; /* Прозрачный фон */
            margin: 3px; /* Отступы от линии */
            width: 150px; /* Ширина поля */
            padding: 0px 0 5px 5px; /* Поля в тексте */
            height: 115px; /* Высота */
            color: #fff;
         }
       input[type='text']{
            border: none;
            background: transparent;
        }



    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Ежедневник</a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Название месяца" aria-label="Search">
            <button type="button" class="btn btn-primary">Сохранить данные</button>
        </form>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    <table class="table table-bordered">
        <tr>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
        </tr>
        <tr>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
        </tr>
        <tr>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
        </tr>
        </tr>
        <tr>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
        </tr>
        <tr>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
        </tr>
        </tr>
        <tr>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
        </tr>
        <tr>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
        </tr>
        <tr>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e' vertical-align: middle;"><textarea type="text" class="text"
                                                                                            name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
        </tr>
        <tr>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
            <th><input placeholder="название дня" type="text"></th>
        </tr>
        <tr>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
            <td align=center bgcolor=#32383e ondblclick="this.style.background='#007bff'"
                onclick="this.style.background='#32383e'"><textarea type="text" class="text" name=""/></textarea>
            </td>
        </tr>
    </table>
</main>
</body>
</html>
