!!!DELETED!!!


<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Понедельник</title>
       <style type="text/css">
   TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 300px; /* Ширина таблицы */
   }
   TH, TD {
    border: 1px solid black; /* Параметры рамки */
    text-align: center; /* Выравнивание по центру */
    padding: 4px; /* Поля вокруг текста */
   }
   TH {
    height: 30px; /* Высота ячеек */
    vertical-align: bottom; /* Выравнивание по нижнему краю */
    padding: 0; /* Убираем поля вокруг текста */
   }
  </style>
 </head>
 <body>
  <table border="0">
   <caption>Понедельник</caption>
      <tr><td><input></td><td></tr>
      <tr><td><button>создать</button></td></tr>
  </table>
 </body>
</html>
